################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/stillnecessaries.csproj
/stillnecessaries.csproj.user
/stillnecessaries.dll
/stillnecessaries.pdb
/.vs/stillnecessaries/FileContentIndex
/.vs/stillnecessaries/v17
*.sqlite
/.vs/VSWorkspaceState.json
/bin/Debug/Mods/mod
/obj
/Properties
/bin/Release/Mods/mod
